
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.docs-main{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.add-docs{
  height: 40px;
  width: 200px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.add-input{
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.button-container{
  text-align: center;
  margin: 30px;
}
.grid-main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: whitesmoke;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.grid-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(27, 24, 24, 0.45);
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}

.grid-child:hover {
  background-color: rgba(98, 98, 98, 1);
}


.editDocs-main {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editDocs-inner {
  width: 800px;
  box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  padding: 20px;
  height: 750px;
}

.ql-container.ql-snow {
  border: none !important;
}

/* Define styles for the buttons */
.button-container-grid {
  display: flex;
}

.button-container-grid button {
  margin-right: 10px; /* Add some spacing between buttons */
  padding: 8px 16px; /* Add padding for better appearance */
  background-color: #007bff; /* Set background color */
  color: #fff; /* Set text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
}

.button-container-grid button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
